@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

.row,
.nav__row {
    width: 100%;
   
    margin: 0 auto;
}

.container {
    width: 100%;
   border: 2px solid black;
   height: 100vh;
}

.nav__container {
    padding: 15px 0;
    max-width: 1600px;
    margin: 0 auto;
}

.nav__landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    gap: 20px;
}

.text {
    font-size: 14px;
    font-weight: 600;
    color: #242424;
   text-decoration: none;
}

.tiny__text {
    font-size: 14px;
    font-weight: 300;
}

.nav__btn {
    border: 1px solid #242424;
    padding: 8px 15px;
    background-color: #242424;
    color: #ffff;
    font-size: 10px;
    cursor: pointer;
}

/* Landing */

.header__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.landing__title {
    font-size: 90px;
    font-weight: 300;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}

.skincare {
    width: 100%;
    margin: 0 auto;
}

.arrow__prev {
gap: 20px;
border: 2px dotted #242424;
height: 602px;
width: 602px;
transform: rotate(45deg);
top: 10%;
left: -30%;
position: absolute;
}

.left__arrow {
margin: 90px 400px;
display: flex;
align-items: center;
border: 1px solid #242424;
padding: 1px 20px;
gap: 20px;
}

.take__test--box {
   
}


.arrow__next {
    transform: rotate(-45deg);
}

.right__arrow {
    display: flex;
    align-items: center;
    border: 1px solid #242424;
}

.arrow__next {
border: 2px dotted #242424;
height: 602px;
width: 602px;
transform: rotate(-45deg);
top: 10%;
right: -30%;
position: absolute;
overflow: hidden;
}

.fa-solid {
    font-size: 20px;
}

.para {
    max-width: 350px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 80px 30px;
}

/* Page 001 */

.page__container {
    border: 2px solid #242424;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.page__row {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.page__text {
    font-size: 90px;
    font-weight: 300;
width: 100%;
margin-top: 25%;
}


.box1 {
    border: 0.5px dotted #242424;
    height: 602px;
    width: 602px;
    position: absolute;
    transform: rotate(-45deg);
  top: 20%;
    right: -18%;
}

.box2 {
    border: 1px dotted #242424;
    height: 550px;
    width: 550px;
    position: absolute;
    transform: rotate(-45deg);
    top: 22%;
    right: -18%;
}

.box3 {
    border: 2px dotted #242424;
    height: 500px;
    width: 500px;
    position: absolute;
    transform: rotate(-45deg);
    right: -18%;
    top: 24%;
}

.forward {
    position: absolute;
    display: flex;
 right: -73%;
    gap: 40px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    top: 50%;
}

.small__box1 {
    border: 2px solid #242424;
    width: 60px;
    height: 60px;
 bottom: -20px;
    position: absolute;
    transform: rotate(-45deg);
}

.small__box2 {
    border: 2px dotted #242424;
    width: 46px;
    height: 46px;
    position: absolute;
    transform: rotate(-45deg);
    top: -10px;
    margin: -2px 7px;
}

.forward__arrow {
    margin: 0 25px;
}

.forward__text {
    font-size: 14px;
    font-weight: 400;
}


/* WEBPAGE */

.weboage__container {
    width: 100%;
    margin: 0 auto;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.webpage__row {
margin: 0 auto;
max-width: 1600px;
width: 100%;
}

.web__text {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.web__box--wrapper {
    display: flex;
    justify-content: center;
   margin-top: 20%;
   align-items: center;
}

.web__box1 {
    border: 0.5px dotted #242424;
    height: 500px;
    width: 500px;
    position: absolute;
    transform: rotate(-45deg);
    position: absolute;
}

.web__box2 {
    border: 1px dotted #242424;
    height: 450px;
    width: 450px;
    position: absolute;
    transform: rotate(-45deg);
    position: absolute;
    margin: 25px 25px;
}
.web__box3 {
    border: 2px dotted #242424;
    height: 400px;
    width: 400px;
    position: absolute;
    transform: rotate(-45deg);
    position: absolute;
    margin: 50px 50px;
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.web__text--text {
    font-size: 14px;
    font-weight: 400;
    color: lightgray;
}

.form__text {
    border: none;
    border-bottom: 1px solid #242424;
    width: 100%;
    height: 60px;
    margin: 0 120px;
}

::placeholder {
    font-size: 45px;
   color: #242424;
   padding: 15px 1px 0 10px;
   font-weight: 400;
}

.back {
    display: flex;
    gap: 30px;
    margin: 25% 0;
}

.back__box {
    border: 1px solid #242424;
    padding: 5px 20px;
    transform: rotate(45deg);
    margin: -10px 0;
}

.back__back {
    transform: rotate(-45deg);
    margin: 5px -5px;
}

.back__text {
    font-size: 15px;
    font-weight: 400;
}

/* Analysis */

.analysis__box {
    border: 1px solid #242424;
    padding: 10px 10px;
   width: 420px;
   height: 100px;
   background-color: black;
}

.analysis__text {
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.leave__stay {
    border: 1px solid #242424;
    padding: 10px 10px;
   width: 420px;
   height: 40px;
   background-color: black;
   margin: 0.5px 0;
   display: flex;
}

.leave__text{
    color: white;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 300;
    cursor: default;
    padding-left: 250px;
}

.stay__text {
    color: white;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 300;
    cursor: default;
}

.leave__text:hover {
    color: grey;
}

.stay__text:hover {
    color: grey;
}

.analysis__back {
    display: flex;
    gap: 30px;
}

.analysis__box--wrapper {
    display: flex;
    justify-content: center;
   margin-top: 15%;
   align-items: center;
}

.change__text {
    color: white;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 300;
    cursor: default;
    padding-left: 180px;
}

.analysis {
    display: flex;
    justify-content: space-between;
    margin: 24% 0;
}

.analysis__front {
    display: flex;
    gap: 30px;
}

.analysis__front--box {
    border: 1px solid #242424;
    padding: 5px 20px;
    transform: rotate(45deg);
    margin: -10px 0;
}

.front__back {
    transform: rotate(-45deg);
    margin: 5px -5px;
}

.front__text {
    font-size: 15px;
    font-weight: 400;
}

/* Where are you from? */

.where__form--text {
    border: none;
    border-bottom: 1px solid #242424;
    width: 100%;
    height: 60px;
    margin: 0 150px;
}

/* Camera */

.cam__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
}

.cam__box--wrapper {
    display: flex;
   margin-top: 25%;
   align-items: center;
   justify-content: center;
}

.cam__box1 {
    border: 0.5px dotted #242424;
    height: 300px;
    width: 300px;
    position: absolute;
    transform: rotate(-45deg);
    position: absolute;
}

.cam__box2 {
    border: 1px dotted #242424;
    height: 270px;
    width: 270px;
    position: absolute;
    transform: rotate(-45deg);
    position: absolute;
    margin: 25px 25px;
}

.cam__box3 {
    border: 2px dotted #242424;
    height: 240px;
    width: 240px;
    position: absolute;
    transform: rotate(-45deg);
    position: absolute;
    margin: 50px 50px;
}

.group {
display: flex;
flex-direction: column;
margin-top: 40%;
}

.group__img {
    width: 70px;
    margin: 0 auto;
    max-width: 100%;
}

.group__text {
    font-size: 13px;
    font-weight: 200;
    margin: 10px 0;
}

.cam__back {
    display: flex;
    gap: 30px;
    margin: 7% 0;
}

.cam__analysis {
    display: flex;
    justify-content: space-between;
    margin: 7% 0;
}

.camera {
    border: 2px solid #242424;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.gallery,
.shutter {
    padding: 7px 7px;
}

.cam__cam--analysis {
    display: flex;
    justify-content: space-between;
    margin: 19% 0;
    align-items: center;
}

.text__cam {
    position: absolute;
    margin: 18% 0;
    padding-right: 100px;
}

.allow__text {
    margin-bottom: 35px;
    font-size: 11px;
    font-weight: 300;
}

/* Setting up camera */

.set__box1 {
    border: 0.5px dotted #242424;
    height: 350px;
    width: 350px;
    position: absolute;
    transform: rotate(-60deg);
    position: absolute;
}

.set__box2 {
    border: 1px dotted #242424;
    height: 300px;
    width: 300px;
    position: absolute;
    transform: rotate(-50deg);
    position: absolute;
    margin: 25px 25px;
}

.set__box3 {
    border: 2px dotted #242424;
    height: 250px;
    width: 250px;
    position: absolute;
    transform: rotate(-37deg);
    position: absolute;
    margin: 50px 50px;
}

.set__cam {
    border: 2px solid #242424;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 50px;
}

.set__text {
    position: absolute;
   margin-top: 36.5%;
}

.set__text--subtitle1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.set__text--text {
    display: flex;
    gap: 30px;
    margin: 20px 0;
    padding: 0 50px;
}

.fa-diamond {
    font-size: small;
}

.subtitle__text1 {
    font-size: 12px;
    font-weight: 400;
    max-width: 500px;
    width: 100%;
    margin: 0;
}

.set__text--title {
    font-size: 12px;
    font-weight: 400;
   padding: 0 180px;
}

.set__up {
    font-size: 12px;
    font-weight: 400;
    margin-top: 23px;
}

.set__box--wrapper {
    display: flex;
   margin-top: 25%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.set__container {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

/* Capture */

.face__container {
    width: 100%;
    border: 2px solid black;
    height: 100vh;
    background-color: #cdcecc;
    backdrop-filter: blur(20px);
     overflow: hidden;
     margin: 0 auto;
}

.face__row {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.face__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}

.timer {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid white;
   width: 230px;
  border-radius: 35px;
  background-color: #d9d9d9;
  border: none;
}

.clock__container {
    border: 0.5px solid #a0a4ab;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a0a4ab;
}

.clock {
    margin: 9px 12px;
    width: 25px;
    background-color: #a0a4ab;
}

.ellipse {
    position: relative;
    border: 1px solid white;
    width: 499px;
    height: 616px;
    border-radius: 50%;
    background-color: #fcfcfc;
}

.ellipse__text {
position: absolute;
}

.picture {
    display: flex;
    align-items: center;
    gap: 20px;
}

.picture__container {
    border: 1px solid #fcfcfc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.picture__icon {
    margin: 10px 10px;
    width: 25px;
}

.picture__icon--icon {
border: 1px solid #fcfcfc;
width: 46px;
height: 46px;
border-radius: 50%;
margin: 1px 1px;
background-color: #fcfcfc;
}

.count,
.picture__text,
.ellipse__text {
font-size: 14px;
font-weight: 600;
text-decoration: none;
color: #fcfcfc;
}

.head__text {
    text-decoration: none;
    color: #fcfcfc;
}

.head__tiny--text {
    color: #fcfcfc;
    font-weight: 400;
    font-size: 14px; 
}

.cam__back {
    display: flex;
    gap: 30px;
    margin: 7% 0;
}

.picture__analysis {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    align-items: center;
}

.picture__front--text {
    display: flex;
    gap: 30px;
}

.picture__back {
    display: flex;
    gap: 30px;
}

.picture__back--box {
    border: 1px solid #fcfcfc;
    padding: 5px 20px;
    transform: rotate(45deg);
    margin: -10px 0;
}

.picture__back--text {
    color: #fcfcfc;
    font-size: 15px;
    font-weight: 400;
}

.picture__back--back {
    transform: rotate(-45deg);
    margin: 5px -5px;
    color: #fcfcfc;
}

.picture__front--text {
    font-size: 15px;
    font-weight: 400;
    color: #fcfcfc;
}

.picture__front {
    font-size: 15px;
    font-weight: 400;
}

.picture__front--box {
    border: 1px solid #fcfcfc;
    padding: 5px 20px;
    transform: rotate(45deg);
    margin: -10px 0;
}

.picture__front--back {
    transform: rotate(-45deg);
    margin: 5px -5px;
}

.option__container {
font-size: 14px;
font-weight: 400;
color: #fcfcfc;
max-width: 800px;
margin: 0 auto;
}

.option__subtitle--wrapper {
    display: flex;
    gap: 20px;
}

.option__subtitle--icon {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.diamond__icon {
    font-size: 10px;
}

.second__front--text {
    display: flex;
    gap: 30px;
    display: none;
}

.hold__count {
}

.number__count {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.number1,
.number3 {
    font-size: 40px;
}

.number2 {
    font-size: 64px;
}

/* Preparing */

.prepare__text {
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
    margin-top: 10px;
}

.four__box {
    border: 1px solid #f3f3f4;
    background-color: #f3f3f4;
    width: 153px;
    height: 153px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four__box:hover {
    background-color: #e1e1e2;
    transition: 0.3s ease;
    cursor: pointer;
}

.four__wrapper {
    display: flex;
    transform: rotate(45deg);
    gap: 5px;
}

.box__text--1,
.box__text--2,
.box__text--3,
.box__text--4 {
transform: rotate(-45deg);
font-size: 16px;
font-weight: 500;
}

.prepare__box--wrapper {
    display: flex;
    justify-content: center;
   margin-top: 10%;
   align-items: center;
}

.prepare {
    display: flex;
    justify-content: space-between;
    margin: 16% 0;
    align-items: center;
}

.reset__btn {
padding: 7px 20px;
font-size: 12px;
font-weight: 500;
background-color: #fcfcfc;
margin-right: 10px;
}

.confirm__btn {
    padding: 7px 20px;
font-size: 14px;
font-weight: 500;
background-color: black;
color: #fcfcfc;
}

.estimate {
    font-size: 14px;
    font-weight: 200;
}

.demographics__wrapper {
    display: flex;
    justify-content: space-around;
}

.east__asian,
.race__text {
    display: flex;
    justify-content: space-between;
}












